.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}